
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.editor {
    background-color: white;
}

.public-DraftEditorPlaceholder-root {
    position: absolute;
    color: #bdbdbd;
    font-family: 'Roboto'
}
  
div.DraftEditor-root {
    margin: 30px auto;
    background-color: white;
    width: 55%;
    min-height: 75vh;
    overflow: visible;
    padding: 1.5vh 1.5vw;
    font-size: 24px;
}

textarea:focus, input:focus {
    outline: none;
}

/* changing placeholder color on inputs */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

input:focus::placeholder {
    color: transparent;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

/* .public-DraftStyleDefault-ltr {
    text-align: center;
} */
